In [1]:
print('Hello,')
print('world')

Hello,
world

In [2]:
print('Hello,',end='')
print('world')

Hello,world

In [5]:
print('Hello,',end='***')
print('world')

Hello,***world

In [7]:
print('***Hello,world',end='***')
print('')
print('Hello,Python')
print('excellent!!!')

***Hello,world***
Hello,Python
excellent!!!

In [8]:
print('***Hello,world***')
print('Hello,Python')
print('excellent!!!')

***Hello,world***
Hello,Python
excellent!!!

In [9]:
print(format(100,'8d'))
100

     100

100

In [10]:
print(12345,12,1234567)
print(12,123,1234567)
print(123,1234567,12345)

12345 12 1234567
12 123 1234567
123 1234567 12345

In [11]:
print(format(12345,'10d'))
print(format(12,'10d'))
print(format(1234567,'10d'))


print(format(12,'10d'))
print(format(123,'10d'))
print(format(1234567,'10d'))


print(format(123,'10d'))
print(format(1234567,'10d'))
print(format(123,'10d'))

     12345
        12
   1234567
        12
       123
   1234567
       123
   1234567
       123

In [12]:
print(format(12345,'10d'),end='')
print(format(12,'10d'),end='')
print(format(12345,'10d'))


print(format(12,'10d'),end='')
print(format(123,'10d'),end='')
print(format(1234567,'10d'))


print(format(123,'10d'),end='')
print(format(1234567,'10d'),end='')
print(format(12345,'10d'))

     12345        12     12345
        12       123   1234567
       123   1234567     12345

In [13]:
print('|%8.2f|'%(123.456))
print('|%8.2f|'%(1.23456))
print('|%8.2f|'%(1234.56))
print('|%8.2f|'%(12.3456))
print('|%8.2f|'%(12345.6))

|  123.46|
|    1.23|
| 1234.56|
|   12.35|
|12345.60|

In [14]:
print('|%.2f|'%(123.456))
print('|%.2f|'%(1.23456))
print('|%.2f|'%(1234.56))
print('|%.2f|'%(12.3456))
print('|%.2f|'%(12345.6))

|123.46|
|1.23|
|1234.56|
|12.35|
|12345.60|

In [15]:
print('|%30s|'%('Learning Python now!'))
print('|%-30s|'%('Learning Python now!'))
print('|%15s|'%('Learning Python now!'))

|          Learning Python now!|
|Learning Python now!          |
|Learning Python now!|

In [16]:
print('%10d%10d%10d'%(12345,12,1234567))
print('%10d%10d%10d'%(12,123,1234567))
print('%10d%10d%10d'%(123,1234567,123))

     12345        12   1234567
        12       123   1234567
       123   1234567       123

In [17]:
print('{0}'.format(123))
print('{0},{1}'.format(123,12345))
print('{0:5d},{1:7d}'.format(123,12345))
print('x={0:5d},q={1:7d}'.format(123,12345))
print('x={p:5d},y={q:7d}'.format(p=123,q=12345))

123
123,12345
  123,  12345
x=  123,q=  12345
x=  123,y=  12345

In [18]:
print('|%10d %9d %9d|'%(12345,12,1234567))
print('|%10d %9d %9d|'%(12,1234567,123))
print('|%10d %9d %9d|'%(1234567,123,12345))

|     12345        12   1234567|
|        12   1234567       123|
|   1234567       123     12345|

In [19]:
print(format('Department','12s'))
print(format('of','12s'))
print(format('Computer','12s'))
print(format('Science','12s'))
print()

Department
of
Computer
Science

In [20]:
print(format('Department','>12s'))
print(format('of','>12s'))
print(format('Computer','>12s'))
print(format('Science','>12s'))

  Department
          of
    Computer
     Science

In [21]:
print(format(123.456,'10.2f'))
print(format(12345.678,'10.2f'))

    123.46
  12345.68

In [22]:
print('i=%d'%(100))
print('i=%d,j=%d'%(100,200))

i=100
i=100,j=200

In [30]:
print('Price:$%8.2f'%(356.08977))
print('%10.2f %10.2f'%(123.456,345.789))
print('%-10.2f %5d'%(123.456,100))
print('radius=%d,area=%7.2f'%(5,5*3.14159))
print('Raidus:{a:3d},Area:{b:10.2f}'.format(a=5,b=5*3.14159))

Price:$  356.09
    123.46     345.79
123.46       100
radius=5,area=  15.71
Raidus:  5,Area:     15.71

In [32]:
print('%.2f degree Celsius in Fahrenheit\
    is%.2f'%(3.25,3.25*1.8+32))
print('%.2f degree Fahrenheit in Celsius \
    is%.2f'%(94.5,(94.5-32)/1.8))

3.25 degree Celsius in Fahrenheit    is37.85
94.50 degree Fahrenheit in Celsius     is34.72

In [33]:
print('%-15s%-10s'%('Month','Amount'))
print('%-15d%-10.2f'%(1,43400.2))
print('%-15d%-10.2f'%(2,45430.28))
print('%-15d%-10.2f'%(3,48030.48))
print('%-15d%-10.2f'%(4,51112.96))
print('%-15d%-10.2f'%(5,52857.2))

Month          Amount
1              43400.20
2              45430.28
3              48030.48
4              51112.96
5              52857.20

In [37]:
print('|%10d %9d %9d|'%(12345,12,1234567))
print('Raidus:{a:3d},Area:{b:10.2f}'.format(a=5,b=5*3.14159))
print(format(123.456,'10.2f'))
print('%-15d %-10.2f'%(1,43400.2))
print('x={0:5d},q={1:7d}'.format(123,12345))

|     12345        12   1234567|
Raidus:  5,Area:     15.71
    123.46
1               43400.20
x=  123,q=  12345

In [55]:
print('Using format')
print(format(123,'3d'),format(45,'7d'))
print(format(123456,'6d'),format(78901,'7d'))


print('Using .format')
print(format(123,'3d'),format(45,'7d'))
print(format(123456,'6d'),format(78901,'7d'))


print('Using %')
print(format(123,'3d'),format(45,'7d'))
print(format(123456,'6d'),format(78901,'7d'))

Using format
123      45
123456   78901
Using .format
123      45
123456   78901
Using %
123      45
123456   78901

In [57]:
print('Member{0:7s},discount{1:3.2f}'.format('karen',0.35))
print('Member{0:7s},discount{1:3.2f}'.format('Sammy',0.4))
print('Member{0:7s},discount{1:3.2f}'.format('JoJo',0.42))

Memberkaren  ,discount0.35
MemberSammy  ,discount0.40
MemberJoJo   ,discount0.42

In [58]:
print('%20s%-20s'%('tall','short'))
print('%20s%-20s'%('strong','weak'))
print('%20s%-20s'%('thick','thin'))

                tallshort
              strongweak
               thickthin

In [59]:
print('%20s%-20s'%('Apple\'s Products:','iphone'))
print('%20s%-20s'%('','iMac'))
print('%20s%-20s'%('','Apple Watch'))
print('%20s%-20s'%('','...'))

   Apple's Products:iphone
                    iMac
                    Apple Watch
                    ...

In [60]:
print('%-15s%7s'%('City','Celsius'))
print('%-15s%7s'%('Taipei',33.2))
print('%-15s%7s'%('Yilan',32.93))
print('%-15s%7s'%('MiaoLi',32.29))
print('%-15s%7s'%('Taichung',32.48))
print('%-15s%7s'%('HuaLian',33.87))

City           Celsius
Taipei            33.2
Yilan            32.93
MiaoLi           32.29
Taichung         32.48
HuaLian          33.87

In [61]:
print('|%6d %6d %6d %6d|'%(22,44,66,88))
print('|%-6d %-6d %-6d %-6d|'%(33,55,77,99))
print('|%6d %6d %6d %6d|'%(222,444,666,888))
print('|%-6d %-6d %-6d %-6d|'%(333,555,777,999))

|    22     44     66     88|
|33     55     77     99    |
|   222    444    666    888|
|333    555    777    999   |

In [63]:
print('---------')
print('Learning Python now***')
print('Python is fun$$$')
print('---------')

---------
Learning Python now***
Python is fun$$$
---------

In [66]:
print('|%10d %9d %9d|'%(12345,12,1234567))
print('Raidus:{a:3d},Area:{b:10.2f}'.format(a=5,b=5*3.14159))
print(format(123.456,'10.2f'))
print('%-15d%-10.2f'%(1,43400.2))
print('x={0:5d},q={1:7d}'.format(123,12345))

|     12345        12   1234567|
Raidus:  5,Area:     15.71
    123.46
1              43400.20
x=  123,q=  12345

In [67]:
print('|%3d|'%(12345))
print('|%5d|'%(12345))
print('|%8d|'%(12345))

|12345|
|12345|
|   12345|

In [68]:
print('|%f|'%(123.456))
print('|%5.2f|'%(123.456))
print('|%1.2f|'%(123.456))
print('|%.2f|'%(123.456))

|123.456000|
|123.46|
|123.46|
|123.46|

In [69]:
print('|%10s|'%(Apple))

NameError: name 'Apple' is not defined

In [71]:
print('|%f-8d|'%(12345))
print('|%-10.2f|'%(123.456))
print('|%-10s|'%('Apple'))

|12345.000000-8d|
|123.46    |
|Apple     |